<!DOCTYPE html>
<html>
<head>
    <title>Ansible Roles Step 17</title>
</head>
<body>
    <h1>Привет! Это кастомная страница.</h1>
    <p>Сервер успешно настроен через Ansible Roles.</p>
    <p>Специально для: {{ user_name }}</p>
</body>
</html>

